$light-bg: #fffffa;
$dark-bg: #111111;
$orange-color: #fb6107;
$gray-color: #878e88;
$light-gray: #eee;
$red-color: #db162f;
$primary-font-color: $light-bg;
$secondary-color: #191923;
$dark-blue-color: #032b43;
$star-command-blue: #0e79b2;
$yellow-color: #ffeb00;
$blue: #18a0fb;
$purple: #7b61ff;
$hotPink: #f531b3;
$green: #1bc47d;
$red: #f24822;
$primary-font: 'Poppins',
sans-serif;
$y: #ffcc00;